Username: <%= @user.username %> <br>
First Name: <%= @user.fname %> <br>
Last Name: <%= @user.lname %> <br>
Password: <strong>NOT LISTED HERE FOR SECURITY REASONS</strong> <br>

<h4><%= link_to "All Users", users_path %></h4>
